body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navigation Bar */
nav {
    background-color: #aa0000;
    padding: 15px 0;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover {
    color: #7fd4ff;
}

/* Sections */
section {
    height: 100vh;
    padding: 50px;
}

html {
    scroll-behavior: smooth;
}

/* Home Section */
#home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background-image: url("hhs-travel.jpg");
    background-size: cover;
    background-position: center;
}

/* Dark overlay */
#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

/* Keep title above overlay */
.home-title {
    position: relative;
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}


/* Title Styling */
.home-title {
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-align: center;  
}

.home-subtitle {
    position: relative;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}
